<style>
  .game-form {
    display: flex;
    flex-direction: column;
    width: 160px;
  }

  .game-label {
    text-align: center;
    margin-bottom: 4px;
  }

  .game-select {
    margin-bottom: 12px;
    text-align: center;
    padding: 4px;
  }

  input[type=submit] {
    padding: 4px;
    border-radius: 4px;
    font-size: 16px;
    background-color: green;
  }
</style>
<div class="game-form">
  <input type="hidden" name="photo_id" value="{{ photo_path }}">
  <label for="home_team" class="game-label">Mandante</label>
  <select name="home_team" id="home_team" class="game-select">
    {% for team in template_teams %}
      <option value="{{ team }}">{{ team }}</option>
    {% endfor %}
  </select>
  <label for="away_team" class="game-label">Visitante</label>
  <select name="away_team" id="away_team" class="game-select">
    {% for team in template_teams %}
      <option value="{{ team }}">{{ team }}</option>
    {% endfor %}
  </select>
  <label for="competition" class="game-label">Competição</label>
  <select name="competition" id="competition" class="game-select">
    {% for competition in template_competitions %}
      <option value="{{ competition }}">{{ competition }}</option>
    {% endfor %}
  </select>
</div>